@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */
.new-height {
    min-height: calc(100vh - 80px);
}
.rounded-product {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
@layer base{
    .miniSlideBar{
      @apply [&::-webkit-scrollbar]:w-2
      [&::-webkit-scrollbar-track]:rounded-full
      [&::-webkit-scrollbar-track]:bg-gray-100
      [&::-webkit-scrollbar-thumb]:rounded-full
      [&::-webkit-scrollbar-thumb]:bg-gray-300
      dark:[&::-webkit-scrollbar-track]:bg-neutral-700
      dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
    }
    
    }